{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <img class="background" src="/img/scroll.gif">

    <button class="button__scroll" id="buttonScroll">
        <img src="/svg/scroll.svg">
    </button>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}