@use '../../style' as s;

main {
	padding: 60px;
	display: flex;
} 

.background {
	height: 8000px;
}

.button__scroll {
	border-radius: 24px;
	padding: 12px;
	background-color: #ff7538;
	display: flex;
	align-items: center;
	width: 45px;
	height: 45px;
	transition: opacity 0.7s;

	&:hover {
		opacity: 0.7;
	}

	position: fixed;
	bottom: 45px;
	left: 45px;

	display: none;
}